<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1 align="center">POSTS</h1>
    <ul>
    <% contents.forEach(function(contents){%>
        <h3><%= contents.title %></h3>
        <p><%= contents.body %></p>
        <br>
    <%}); %>
    </ul>

</body>
</html>