<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Subscribe</title>
  <meta name="description" content="My Page Description">
</head>
<body>
    <h4>Subscribe Page</h4>
    <form method="POST">
        <br>
        <label color="red">Employee ID</label>
        <br>
        <input name='id' class="id" id="id">
        <br><br>
        <label color="red">First Name</label>
        <br>
        <input name='fname' class="fname" id="fname">
        <br><br>
        <label color="red">Last Name</label>
        <br>
        <input name='lname' class="lname" id="lname">
        <br><br>
        <input type="submit" value="Submit">
    </form> 
    <br>
    <h4><a href="/data">View database</a></h4>
</body>
</html>